fieldset .stars{
    margin-top: 2vh;
    display: flex;
    align-items: center;
    gap: 2.5vw;
    margin: 3vh auto;
}

.stars i{
    color: white;
    font-size: 8vw;
    cursor: pointer;
    transition: color 0.2s ease;
    -webkit-text-stroke: 2px #2872BE;
}

.stars i.active{
    color: #2872BE;
}