.place{
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10vw;
    border: 1 px solid white;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.253);
    border-radius: 60px;
    gap: 1vh;
}

.place>img{
    width: 100%;
    border-radius: 30px;
    aspect-ratio: 16/9;
    object-fit: cover;
}

.place .info-place{
    display: flex;
    flex-direction: column;
    gap: 2vh;

}

.info-place div:first-child{
    margin:2vh auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-basis: row nowrap;
    width: 100%;
}

.info-place div:first-child h2{
    font: bold 3vw "Montserrat", sans-serif;
    color: #377ED0;
}

.address{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2vw;

}

.address img{
    width: 8%;
    aspect-ratio: 1/1;
    object-fit: contain;
}

.address p {
    font: normal 3.2vw "Montserrat",sans-serif;
    color: #797979;
}

.info-place .desc p{
    font: normal 3vw "Montserrat",sans-serif;
    color: #797979;
}

.info-place a{
    width: 100%;
    border: 1px solid #79797946;
    border-radius: 30px;
    padding: 2.5vw 2vw;
    text-align: center;
    color: #377ED0;
    font: bold 3.5vw "Montserrat",sans-serif;
}

.rating{
    display: flex;
    justify-content: space-between;
    gap: 0.5vw;
    align-items: center;
}

.rating i{
    color: #377ED0;
    font-size: 70%;
    cursor: pointer;
    transition: color 0.2s ease;
}

.rating i.no{
    color: #ccc;
}

.resultsPesquisa{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #00518C;
    margin: 0 auto;
}

.resultsPesquisa p{
    font-size: 20px;
}