@media(max-width:480px){
h1{
    background-image:linear-gradient(to right, #00518C,  #377ED0 );
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8vh;
    color: white;
    font: normal 4vw "Montserrat",sans-serif;
}

form{
    display: flex;
    flex-direction: column;
    width: 80vw;
    margin: 5vh auto;
}

form label{
    font: normal 3.5vw "Montserrat",sans-serif;
    margin-bottom: 2.5vw;
}

form input{
    border: 1px solid #79797946;
    padding: 2.5vw;
    border-radius: 10px;
    margin-bottom: 10vw;
}

form button{
    width: 100%;
    background-image: linear-gradient(to right, #00518C,  #377ED0 );
    padding: 2.5vw;
    color: white;
    border-radius: 10px;
}

form input[type = submit]{
    width: 100%;
    background-image: linear-gradient(to right, #00518C,  #377ED0 );
    padding: 2.5vw;
    color: white;
    border-radius: 10px;
}

form textarea{
    border: 1px solid #797979;
    border-radius: 10px;
    padding: 5vw;
    margin-bottom: 5vh;
}

.Acessos{
    display: flex;
    flex-direction: column;
    gap: 6vh;
    border: 1px solid #79797946;
    border-radius: 10px;
    padding: 5vw;
}

fieldset{
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

fieldset legend{
    margin-bottom: 2vh;
    font: normal 3.5vw "Montserrat", sans-serif;
}

fieldset div{
    height: 5vh;
}

.Acessos button{
    margin-bottom: 2vh;
}

fieldset label{
    margin-left: 1vw;
}

#cadastre{
    width: fit-content;
    display: block;
    margin: 0 auto;
}
#cadastre p{
    font-size: 4vw;
}
#cadastre a{
    color: #3aa8f7;
}
#enter{
    width: fit-content;
    display: block;
    margin: 0 auto;
}
#enter p{
    font-size: 4vw;
}
#enter a{
    color: #3aa8f7;
}

.grup-btcad {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
}

#butcad {
    margin-bottom: 2vw;
    color: #fff;
}

#butcad a {
   text-decoration: none;
    color: #fff;
}
#msgerror{
    width: fit-content;
    display: block;
    margin: 0 auto;
}
#msgerror{
    color: #000000f8;
}
#msgerror{
    font-size: 3vw;
}

.erro{
    background-color: rgb(255, 233, 233);
    border: 1px solid red;
    border-radius: 7px;
	color: red;
}

.lieconcordo{
    display: flex;
    align-items: center;
    width: 100%;
}

#termosconcordo{
    margin: 2vw;
}

} 

