<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cadastro</title>
    <link rel="stylesheet" href="css/reset.css" />
    <link rel="stylesheet" href="css/header-footer.css">
    <link rel="stylesheet" href="css/locais.css">
    <link rel="stylesheet" href="css/caixasLocais.css">
    <link rel="stylesheet" href="css/formularios.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <script type="text/javascript" src="//acc.magixite.com/freeCode?oatk=2133516"></script>
    <script src="js/menu.js" defer></script>
</head>
<body>
    <header>
        <span></span>
        <a href="/"><img src="image/logoAccex-azul.png" alt="Logo" /></a>
        <img src="image/iconePERFIL.png" id="usuario" alt="User" class="open-menu"/>
        <nav class="menu-container">
          <ul>
            <li><a href="login">Entrar</a></li>
            <li><a href="cadastro">Cadastro</a></li>
            <li><a href="perfil ">Perfil</a></li>
          </ul>
        </nav>
      </header>
      <body>
        <h1>404SUA CONTA FOI DESCONECTADA</h1>
        <div class="grup-btcad">
  
            <button id="butcad">
              <a href="/">voltar para a home</a>
            </button>
            </div>
      </body>
      
</body>
</html>