<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Perfil</title>
    <link rel="stylesheet" href="css/reset.css" />
    <link rel="stylesheet" href="css/header-footer.css">
    <link rel="stylesheet" href="css/perfil.css">
    <script type="text/javascript" src="//acc.magixite.com/freeCode?oatk=2133516"></script>
    <script src="js/menu.js" defer></script>
  </head>
  <body>
    
    <header>
      <span></span>
      <a href="/"><img src="image/logoAccex-azul.png" alt="Logo" /></a>
      <img src="image/iconePERFIL.png" id="usuario" alt="User" class="open-menu"/>
      <nav class="menu-container">
        <ul>
          <li><a href="login">Entrar</a></li>
          <li><a href="cadastro ">Cadastro</a></li>
          <li><a href="perfil">Perfil</a></li>
        </ul>
      </nav>
    </header>
    <section class="user-name"><% let arquivo = {"imagem":"image/iconePERFIL.png"}

if(valores.img_perfil_pasta != null){
    arquivo.imagem = valores.img_perfil %>
    <img src="<%= valores.img_perfil%>" alt="Ícone Usuário"> <%
} else{
  %><img src="image/usuario-white.png" alt="Ícone Usuário">
<%}

%><h1><%=valores.nickname%></h1> <a href=""></a></section>


    
    <main>
        <a href="favoritos" class="box-perfil">



            <img src="image/favorito-white.png" alt="Ícone Locais Favoritos">
            <p>Locais favoritos</p>
        </a>
        <a href="visitados " class="box-perfil">
            <img src="image/localizacao-white.png" alt="Ícone Estabelecimentos visitados">
            <p>Estabelecimentos visitados</p>
        </a>
        <a href="#" class="box-perfil">
            <img src="image/construcao-white.png" alt="Ícone Locais Adicionados">
            <p>Locais adicionados</p>
        </a>
        <a href="/sair">Sair da conta</a>
        <a href="/deletar">Desativar conta</a>

        <div vw class="enabled">

          <div vw-access-button class="active"></div>
      
          <div vw-plugin-wrapper>
      
            <div class="vw-plugin-top-wrapper"></div>
      
          </div>
      
        </div>
      
      <script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
      
        <script>
      
      new window.VLibras.Widget('https://vlibras.gov.br/app');
      
        </script>

    </main>
    <footer>
      <a href="faleConosco">Fale conosco</a>
      <div class="rodape-info">
        <img src="image/logoAccex-branca.png" alt="" id="logo">
        <p>E-mail <br/> accex@gmail.com</p>
        <div class="socialMedia">
          <div><img src="image/logoFaceb.png" alt="Ícone Facebook" /></div><div>
            <img src="image/logoInstag.png" alt="Ícone Instagram"/>
          </div><div>
            <img src="image/logoX.png" alt="Ícone X"/>
          </div></div>
      </div>
    </footer>
    </body>
  </html>