<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cadastro</title>
    <link rel="stylesheet" href="css/reset.css" />
    <link rel="stylesheet" href="css/header-footer.css">
    <link rel="stylesheet" href="css/locais.css">
    <link rel="stylesheet" href="css/caixasLocais.css">
    <link rel="stylesheet" href="css/formularios.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <script src="js/menu.js" defer></script>
  </head>
  <body>
 <h1>voce nao tem permissão</h1><br>

 <div class="grup-btcad">
  
  <button id="butcad">
    <a href="/">voltar para a home</a>
  </button>
  </div>
  


  

    </body>
  </html>